.container {
  /* Your styles here */
  @apply mb-36;
}

/* .logo:nth-child(even) {
  transform: translateX(400px);
}

.logo:nth-child(odd) {
  transform: translateX(-400px);
} */

/* .element:nth-child(even) {
  transform: translateX(33%);
}

.element:nth-child(odd) {
  transform: translateX(-33%);
} */

.roadmapContainer {
  @apply mt-20 flex flex-col;
}

.date {
  @apply mx-5;
  font-size: 20px !important;
  transform: translateY(-4px);
}
