.container {
  /* Your styles here */
}

.content {
  @apply flex items-stretch mt-10 gap-8;
}

.rightContainer {
  @apply w-[550px] flex flex-col justify-between z-10;
}

.leftContainer {
 @apply hidden; 
}

.buttonContainer {
  @apply flex flex-wrap justify-center;
}

.code {
  @apply overflow-hidden;
}

.button {
  @apply m-4 text-[#050816];

  margin-right: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.7rem 1rem;
  border-radius: 3.625rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: -1px 1px 10px 0 rgba(2,2,2,.1), 1px 1px 3px 0 rgba(0,0,0,.05);
  font-size: 1.1rem;
  line-height: 120%;
  font-weight: 500;
}

.form {
  @apply mb-6;
}

.button:hover {
  transform: scale(1.05);
}

.button.active {
 color: white;
}

.violet {
  @apply text-[#D291FF];
}

.yellow {
  @apply text-[#F7F948];
}

.blue {
  @apply text-[#6CE7FA];
}

.orange {
  @apply text-[#B67606;]
}

.secondary {
  @apply text-[#aaa6c3];
}

.yellowFunc {
  @apply text-[#FCFFA2];
}

.green {
  @apply text-[#1DCA18];
}

.resEditor {
  height: 416px;
  overflow: hidden;
}

.resContainer {
  @apply overflow-hidden;
  width: calc(100vw - 900px);
  max-height: 416px !important;
  overflow: scroll;
}

@screen xl {
.leftContainer {
 @apply block; 
}
}