.container {
  @apply w-full flex items-center py-5 fixed top-0 z-20 bg-primary sm:px-16 px-6;
}

.subContainer {
  @apply w-full flex justify-between items-center max-w-7xl mx-auto;
}

.link {
  @apply flex items-center gap-2;
}

.logo {
  @apply object-contain;
}

.title {
  @apply text-white text-[18px] font-bold cursor-pointer flex ml-2;
}

.title span {
  @apply sm:block hidden;
}

.navLinkContainer {
  @apply list-none flex flex-row gap-10;
}

.navLink {
  @apply text-secondary text-[18px] font-medium cursor-pointer;
  position: relative;
}
.navLink:before {
  @apply absolute left-0 bottom-0 w-full h-[2px] bg-white;
  content: "";
  transition: transform 0.4s ease;
  transform: scaleX(0);
}

.navLink:hover {
  @apply text-white;
}

.navLink:hover:before {
  transform: scaleX(1);
}

.navLink.active {
  @apply text-white;
}

.navLink.active:before {
  transform: scaleX(1);
}

.navLink.documentation {
  @apply text-[#915eff];
}

.navLink.documentation:before {
  @apply bg-[#915eff];
}
