.container {
  @apply xs:w-[340px] w-full;
}
.container:hover {
  transform: scale(1.01)
}

.subContainer {
  @apply w-full p-[1px] rounded-[20px];
}

.content {
  @apply bg-tertiary rounded-[20px] min-h-[280px] flex justify-evenly items-center flex-col;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 0 1000px linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  padding: 20px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal, sans-serif;
  font-size: 3rem;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: -1px;
}

.pricingDescription {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 150%;
  opacity: 95%;
}

.priceContainer {
  display: flex;
  height: 5rem;
  margin-bottom: 1.25rem;
  justify-content: center;
  align-items: flex-start;
}

.dollar {
  display: inline-block;
  background-image: linear-gradient(337deg, #733ff1, #36beff);
  font-family: Ppneuemontreal, sans-serif;
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: -.5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price {
  background-image: linear-gradient(245deg, #733ff1, #36beff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal, sans-serif;
  color: #020202;
  font-size: 5rem;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -2px;
}

.button {
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border: 1px solid #020202;
  border-radius: 0.625rem;
  background-color: transparent;
  color: white;
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  transition: transform .2s, color .2s, background-color .2s;
}

  /* Style au survol */
  .button:hover {
    background-color: #0057da;
    color: #ffffff;
    transform: scale(1.05);
    cursor: pointer;
  }

  /* Style par défaut */
  .button:not(:hover) {
    border-color: #0057da;
    color: #0057da;
  }

.line {
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 80%;
  margin-bottom: 1.5rem;
}

.listPlanText {
  list-style: inside;
  text-align: left;
  font-size: 14px;
}