.container {
  @apply xs:w-[340px] w-full max-w-[400px];
}
.container:hover {
  transform: scale(1.01);
}

.subContainer {
  @apply w-full p-[1px] rounded-[20px];
}

.content {
  @apply bg-tertiary rounded-[20px] min-h-[280px] flex justify-evenly items-center flex-col;
  padding: 20px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal, sans-serif;
  font-size: 3rem;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: -1px;
}

.pricingDescription {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 150%;
  opacity: 95%;
  height: 48px;
}

.priceContainer {
  display: flex;
  height: 5rem;
  margin-bottom: 1.25rem;
  justify-content: center;
  align-items: flex-start;
}

.dollar {
  display: inline-block;
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: -0.5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price {
  /* background-image: linear-gradient(245deg, #733ff1, #36beff); */
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal, sans-serif;
  color: #020202;
  font-size: 5rem;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -2px;
}

.button {
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 0.625rem;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
}

/* Style au survol */
.button:hover {
  @apply text-primary;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 80%;
  margin-bottom: 1.5rem;
}

.listPlanText {
  list-style: inside;
  text-align: left;
  font-size: 14px;
}

.image {
  margin-bottom: 15px;
}

.li.multiline {
  text-align: center;
}
