.canvas {
  position: absolute !important;
  right: 0 !important;
  width: 60% !important;
  opacity: 0;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  cursor: grab;
}

@media only screen and (max-width: 700px) {
  .canvas {
    width: 100% !important;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  50% {
    transform: translateX(-15%);
  }

  70% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
